// color palette - these colors will be the color swatches of the Colors section

$color-1: #40bfc1; // light Blue 
$color-2: #3A3840; // Dark Gray 
$color-3: #ff6f5e; // Orange
$color-4: #f0134d; // red
$color-5: #f5f0e3; // white

// additional colors

$success: #6fce72; // green
$alert: $color-4; // red

// fonts
$secondary-font: 'Bree Serif', serif; // para body
$primary-font: 'Roboto', sans-serif;// para headings